{% extends 'base.html' %}

{% block content %}
<hr>

<div class="row">
    {% for each in object_list %}
    <div class="col-md-4 mb-3">
        <div class="card" style="width: 18rem; ">
            <a href="{% url 'detail' each.id %}">
                <img src="{{ each.image_url }}" class="card-img" alt="..." style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ each.title|slice:":25"}}</h5>
                    <p class="card-text">${{ each.price|floatformat:2 }}</p>

                    {% if each.book_available is True %}
                    <div class="text-success">Available</div>
                    <a href="{% url 'checkout' each.id %}" class="btn btn-success btn-block">Buy Now</a>
                    {% else %}
                    <div class="text-danger">Out of Stock !</div>
                    {% endif %}
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
